h1 {
    color: royalblue;
    font-weight: bold;

}

h2 {
    color: burlywood;

}
.characteristics {
    color: cadetblue;

}
.toys {
    color: beige;

}
img {
    border: beige;
    border-radius: 50px;
    width: 100px;
    height:100px;

}
body {
    background-color: darkgrey;

}
